body {
  min-height: 5000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}

#UIdesign {
  padding-top: 2rem;
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.nav-link:hover {
  border-bottom: 3px solid #ffc107;
}
